/*h3{
    color:blue;
    background-color:yellowgreen;
    font-size:30px;
}*/
/*h1{
    color:red;
    background-color:powderblue;
    font-size:50px;
}*/
.t_upper{
       text-transform:uppercase;
}
.t_lower{
       text-transform:lowercase;
}
.t_capitalize{
       text-transform:capitalize;
}
.t_center{
    text-align:center;
}
.t_right{
    text-align:right;
}
.t_under{
    text-decoration:underline;
    text-decoration-style: solid;
}
.t_over{
    text-decoration:overline;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
.t_line{
    text-decoration:line-through;
    text-decoration-color: red;
  text-decoration-style: wavy;
}
.t_decor{
    text-decoration: underline overline line-through red double 5px;
}
.t_line_height{
    line-height:30px;
    font-size:20px;
}
.t_indent{
      text-indent:183px;
      font-size:20px;
}
.t_indent2{
      font-size:20px;
      text-align-last:right;
      white-space: nowrap;
}
.t_indent3{
      font-size:20px;
      text-align-last:center;
}
.t_indent4{
      font-size:20px;
      text-align-last:left;
      direction: rtl;
  unicode-bidi: bidi-override;
}
.l_space{
    letter-spacing:20px;
    background-color: white;
}
.w_space{
    word-spacing:20px;
    background-color: white;
}
.t_shadow1{
    color:aqua;
    text-align:center;
    font-size:45px;
    /*text-shadow:3px 6px 6px red;*/ text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: white;
}
.t_shadow2{
    color:black;
    text-align:center;
    font-size:35px;
    text-shadow:8px 10px 4px grey;
    background-color: white;
}
.i1{
      box-shadow:5px 5px 6px gray;
       width:300px;
       height:360px;
        margin-left:30px;
}
.i2{
      filter:drop-shadow(5px 5px 6px gray);
        margin-left:30px;
       width:300px;
      height:360px;
}
.i3{
    box-shadow:5px 5px 6px gray;
    margin-left:30px;
    width:300px;
    height:360px;
}
.i4{
    filter:drop-shadow(9px 9px 6px gray);
    margin-left:30px;
    width:300px;
    height:360px;
}
.i5{
    filter:drop-shadow(7px 7px 8px gray);
    margin-left:30px;
     width:300px;
    height:300px;
}
.text_color{
    color:blue;
}
#text_size{
    font-size:50px;
}
.text_bg{
    background-color: yellow;
}
.t_shadow{
    text-shadow: 5px 5px 6px red;
}
.font_family1{
    font-family:sans-serif;
    font-size:20px;
}
.font_family2{
    font-family:monospace;
    font-size:20px;
}
.font_family4{
    font-family:cursive;
    font-size:20px;
}
.font_family5{
    font-family:fantasy;
    font-size:20px;
}
.font_family3{
      font-family: Arial, Helvetica, sans-serif;
      font-size:20px;
}
img{
    width:250px;
}
.border_img1{
    border: 4px solid red;
    border-radius:20px 40px 20px 40px;
    box-shadow: 5px 5px 6px grey;

}
.border_img2{
    border: 5px double blue;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    filter:drop-shadow(7px 7px 8px darkgray);
    margin-left:20px;
}
.border_img3{
    border: 5px dotted blue;
    border-radius:50%;
     margin-left:20px;
    box-shadow: 5px 5px 6px grey;
}
  
.border_img4{
    /*border: 5px inset blue;*/
    
    margin-left:20px;
    box-shadow: inset 0 0 0 5px blue;
    /*border-color:blueviolet yellow green magenta;*/
}
.box_model1{
       border: 5px solid black;
       margin: 40px;
       padding:30px;
}
.box_model2{
      border:5px solid green;
      margin: 20px 40px 20px 40px;
      padding: 50px 30px 50px 30px;
}
.box_model3{
      border:5px solid grey;
      margin: 20px 40px 20px 40px;
      padding: 50px 30px 50px 30px;
      border-radius:10px;
      box-shadow: 5px 5px 6px grey;
}

.h1{
      margin: 50px 30px 50px 30px;
      padding: 20px 10px 20px 10px;
      filter: drop-shadow(5px 5px 6px grey);
}
.y21{
      margin: 50px;
      color:black;
      text-shadow: 5px 5px 6px grey;
      background-color: white;
      padding: 50px 30px 50px 30px;
}
.linear1{
          background: linear-gradient(red,green,blue);
          height:200px;
}
.linear12{
          background: linear-gradient(to right,red,green,blue);
          height:200px;
}
.linear123{
          background: linear-gradient(orange,white,green);
          height:200px;
}
.l21{
          padding-top: 70px;
          text-align:center;
          color:blue;
}
.l22{
          padding-top: 70px;
          text-align:center;
}
.radial{
    background:radial-gradient(circle,red,white,blue,black);
    height:400px;
    margin-top:50px;
    margin-bottom:40px;
}
.i21{
       height:200px;
       filter:drop-shadow(6px 6px 6px grey);
       margin-top:100px;
       margin-left:550px;
       border-radius: 50%;;
}
.conic{
        height: 600px;
        background:conic-gradient(from 90deg,blue,red,green,yellow) ;
}
.c1{
    background-image: url("/images/bali.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 450px;
}
.c2{
      text-align:center;
      font-size:50px;
      color:white;
      font-weight:bolder ;
      padding-top:160px;
}
.c4{
      text-align:center;
      font-size:50px;
      color:black;
      font-weight:bolder ;
      padding-top:160px;
}


.c3{
      background-image:url("/images/pixel.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      height:450px;
      width: 400px;
}

.flex-items{
    background-color: darkmagenta;
    width:200px;
    height:150px;
    color:white;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
    margin-top:20px;
}
.flex-item img{
    width:200px;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
    margin-top:20px;
}
.flex-container{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:center;   /*space-evenly,space-around,space-between*/   
      align-items:center;
      list-style:none;

}
.flex-containers{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:center;  /* horizontally center */
      align-items:center;      /*Vertically Center */
      list-style:none;
}
h1{
     color:blue;
}
h1:hover{
     color:red;
     font-size:40px;
     background-color:yellow;
}
.img1{
       border:2px solid red;
       height:200px;
       width:200px;
}
.img1:hover{
        
    border:2px solid blue;
    box-shadow: 5px 5px 6px red;
     background-image: url("/images/nature.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
input:focus{
     background-color:red;
     color:white;
}
.box{
    background-color: darkmagenta;
    width:200px;
    height:150px;
    color:white;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
    margin-top:20px;
    transition:transform 5s ease;
}
.box1:hover{
       transform:translate(125px,125px);
}
.box2:hover{
     transform:translateX(125px);
}
.box3:hover{
       transform:translateY(225px);
}
.box4:hover{
     transform:rotate(360deg);
}
.box5:hover{
     transform:SkewX(20deg);
}
.box6:hover{
       transform:SkewY(20deg);
}
.box7:hover{
      transform:skew(20deg,20deg);
}
.box8:hover{
        transform:scale(1.5);
}
.box9:hover{
         transform:scale(1.5) rotate(90deg) translateX(120px);
}
.img_wrapper{
       height:250px;
       width:300px;
       position:relative;
       border :2px solid red;
       box-shadow:6px 6px 6px grey;
       overflow:hidden;
}
.transform_img{
       display:flex;
       flex-direction:row;
       margin-top:40px;
       justify-content: space-evenly;
}
.inner_image{
       height:100%;
       width:100%;
       transition:3s;
}
.inner_image:hover{
          transform:scale(1.5);
}
.inner_image1:hover{
          transform:scale(2);
}
.inner_image2:hover{
          transform:scale(2.5);
}
.div_ani{
       height:150px;
       width:150px;
       background-color:red;
       position:relative;
       animation:myfirstanimation;
       animation-duration: 5s;
       animation-iteration-count: infinite;
       animation-delay: 10s;
       animation-direction: alternate reverse;
}
@keyframes myfirstanimation
{
     0%{background-color: red; left :0px; top:0px}
     25%{background-color: green;left:300px;top:0px}
     50%{background-color: blueviolet;left:300px;top:300px}
     75%{background-color: black; left:0px;top:300px}
     100%{background-color: red;left:0px;top:0px}
}
.div_img{
    height:150px;
       width:150px;
       background-image: url("/images/nature.jpg");
       background-size: cover;
       position:relative;
       animation:myfirstanimation1;
       -webkit-animation:myfirstanimation1;   /*-webkit is used for cross browser compatability (for IPHONE OS)*/
       animation-duration: 5s;
       animation-iteration-count: infinite;
       animation-delay: 10s;
       animation-direction: alternate reverse;
}
@keyframes myfirstanimation1
{
     0%{background-image: url("/images/nature.jpg");background-size: cover; left :0px; top:0px}
     25%{background-image:url("/images/bali.jpg");background-size: cover;left:300px;top:0px}
     50%{background-image:url("/images/pixel.jpg");background-size: cover;left:300px;top:300px}
     75%{background-image:url("/images/aback.jpg");background-size: cover; left:0px;top:300px}
     100%{background-image:url("/images/nature.jpg");background-size: cover;left:0px;top:0px}
}
.div_img1{
    height:150px;
       width:150px;
       background-image: url("/images/nature.jpg");
       background-size: cover;
       position:relative;
       animation:myfirstanimation2;
       -webkit-animation:myfirstanimation2;   /*-webkit is used for cross browser compatability (for IPHONE OS)*/
       animation-duration: 5s;
       animation-iteration-count: infinite;
       animation-delay: 10s;
       animation-direction: alternate reverse;
       margin-top:10px;
}
@keyframes myfirstanimation2
{
     0%{background-image: url("/images/nature.jpg");background-size: cover}
     25%{background-image:url("/images/bali.jpg");background-size: cover}
     50%{background-image:url("/images/pixel.jpg");background-size: cover}
     75%{background-image:url("/images/aback.jpg");background-size: cover}
     100%{background-image:url("/images/nature.jpg");background-size: cover}
}
.card_demo{
             display:flex;
             flex-direction:row;
             justify-content: space-evenly;
}
.card_1{
          height:180px;
          width:300px;
          background-color:lightseagreen;
          border-radius:8px;
          transition: transform 5s ease;
          background-image:url("/images/pixel.jpg");
          background-size:cover;
}
.card_1:hover{
          transform: rotateY(180deg);
          background-image:url("/images/nature.jpg");
          background-size:cover;
}
.card_1:hover::after{
          color:white;
          font-size:25px;
          padding-left:120px;
          padding-bottom: 30px;
}
.card_1:hover .w1{
    opacity:0;
    padding-top: 0px;
}
.card_2{
          height:180px;
          width:300px;
          background-color:lightseagreen;
          border-radius:8px;
          transition: transform 2.5s ease;
          background-image:url("/images/Golden Temple.jpg");
          background-size:cover;
}
.card_2:hover{
          transform: rotateY(180deg);
          background-color:orangered;
          padding: 0px;
          background-image:url("/images/Taj Mahal.jpg");
          background-size:cover;
}
.card_2:hover::after{
          content:"File";
          color:white;
          font-size:25px;
          padding-left:120px;
          padding-bottom: 30px;
}
.card_2:hover .w1{
    opacity:0;
    padding-top: 0px;
}
.card_3{
          height:180px;
          width:300px;
          background-color:lightseagreen;
          border-radius:8px;
          transition: transform 1.5s ease;
          background-image:url("/images/aback.jpg");
          background-size:cover;
}
.card_3:hover{
          transform: rotateY(180deg);
          background-image:url("/images/nature.jpg");
          background-size:cover;
          
}
.card_3:hover::after{
          content:"File";
          color:white;
          font-size:25px;
          padding-left:120px;
          padding-bottom: 30px;
}
.card_3:hover .w1{
    opacity:0;
    padding-top: 0px;
}
.card_4{
          height:180px;
          width:300px;
          background-color:lightseagreen;
          border-radius:8px;
          transition: transform 1.5s ease;
          background-image:url("/images/nature.jpg");
          background-size:cover;
}
.card_4:hover{
          transform: rotateY(180deg);
          background-image:url("/images/bali.jpg");
          background-size:cover;
}
.card_4:hover::after{
          content:"File";
          color:white;
          font-size:25px;
          padding-left:120px;
          padding-bottom: 30px;
}
.card_4:hover .w1{
    opacity:0;
    padding-top: 0px;
}
.w1{
     color:white;
     font-size:25px;
     text-align:center;
     padding-top: 50px;
}
.z1{
       width: 100px;
       height: 600px;
       list-style:none;
       font-weight: 900;
}
.g1{
        border-radius:5px;
        border: 2px solid red;
        margin-bottom: 8px;
}
.g1:nth-child(odd){
          background-color: lightseagreen;
          color:black;
}
.g1:hover:nth-child(odd){
           background-color: darkgreen;
           color:white;
}
.g1:nth-child(even){
           background-color: purple;
           color:white;
}
.g1:hover:nth-child(even){
           background-color: lawngreen;
           color:white;
}
.g1:nth-child(5){
    background-color: lightgreen;
}
.g1:first-child(){
    background-color: blanchedalmond;
}
.g1:last-child(){
    background-color: red;
}
.text_container{
    display:flex;
    justify-content: center;
    font-weight:900px;
    font-size:70px;
    letter-spacing: 4px;
    perspective: 100px;
}
.text_container > b{
    height:80px;
    box-shadow: 0px 5px 5px grey;
    background:linear-gradient(to right,red,blue,black);
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    transform: rotateX(-85deg);
    animation: getUp 10s infinite;
}
.text_container > b:nth-child(1)
{
      animation-delay: 0s;
}
.text_container > b:nth-child(2)
{
    animation-delay:0.25s;
}
.text_container > b:nth-child(3)
{
     animation-delay:0.50s;
}
.text_container > b:nth-child(4)
{
    animation-delay:0.75s;
}
.text_container > b:nth-child(5)
{
    animation-delay:1s;
}
.text_container > b:nth-child(6)
{
    animation-delay:1.25s;
}
@keyframes getUp{
    from{transform:rotateX(-85deg);}
    10%,50%{transform:rotateX(-0);}
    60%,to{transform:rotateX(-85deg);}

}
.swing{
      animation: swing 0.5s ease-in-out infinite alternate;
      transform-origin:top center;
      position:relative;
}
.swing img{
    width:200px;
    border:5px solid grey;
    box-shadow: 2px 3px 3px black;
}
@keyframes swing{
      0%{transform: rotate(7deg);}
      100%{transform:rotate(-7deg);}
}