/*h3{
    color:blue;
    background-color:yellowgreen;
    font-size:30px;
}*/
/*h1{
    color:red;
    background-color:powderblue;
    font-size:50px;
}*/
.t_upper{
       text-transform:uppercase;
}
.t_lower{
       text-transform:lowercase;
}
.t_capitalize{
       text-transform:capitalize;
}
.t_center{
    text-align:center;
}
.t_right{
    text-align:right;
}
.t_under{
    text-decoration:underline;
    text-decoration-style: solid;
}
.t_over{
    text-decoration:overline;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
.t_line{
    text-decoration:line-through;
    text-decoration-color: red;
  text-decoration-style: wavy;
}
.t_decor{
    text-decoration: underline overline line-through red double 5px;
}
.t_line_height{
    line-height:30px;
    font-size:20px;
}
.t_indent{
      text-indent:183px;
      font-size:20px;
}
.t_indent2{
      font-size:20px;
      text-align-last:right;
      white-space: nowrap;
}
.t_indent3{
      font-size:20px;
      text-align-last:center;
}
.t_indent4{
      font-size:20px;
      text-align-last:left;
      direction: rtl;
  unicode-bidi: bidi-override;
}
.l_space{
    letter-spacing:20px;
    background-color: white;
}
.w_space{
    word-spacing:20px;
    background-color: white;
}
.t_shadow1{
    color:aqua;
    text-align:center;
    font-size:45px;
    /*text-shadow:3px 6px 6px red;*/ text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: white;
}
.t_shadow2{
    color:black;
    text-align:center;
    font-size:35px;
    text-shadow:8px 10px 4px grey;
    background-color: white;
}
.i1{
      box-shadow:5px 5px 6px gray;
       width:300px;
       height:360px;
        margin-left:30px;
}
.i2{
      filter:drop-shadow(5px 5px 6px gray);
        margin-left:30px;
       width:300px;
      height:360px;
}
.i3{
    box-shadow:5px 5px 6px gray;
    margin-left:30px;
    width:300px;
    height:360px;
}
.i4{
    filter:drop-shadow(9px 9px 6px gray);
    margin-left:30px;
    width:300px;
    height:360px;
}
.i5{
    filter:drop-shadow(7px 7px 8px gray);
    margin-left:30px;
     width:300px;
    height:300px;
}
.text_color{
    color:blue;
}
#text_size{
    font-size:50px;
}
.text_bg{
    background-color: yellow;
}
.t_shadow{
    text-shadow: 5px 5px 6px red;
}
.font_family1{
    font-family:sans-serif;
    font-size:20px;
}
.font_family2{
    font-family:monospace;
    font-size:20px;
}
.font_family4{
    font-family:cursive;
    font-size:20px;
}
.font_family5{
    font-family:fantasy;
    font-size:20px;
}
.font_family3{
      font-family: Arial, Helvetica, sans-serif;
      font-size:20px;
}
img{
    width:250px;
}
.border_img1{
    border: 4px solid red;
    border-radius:20px 40px 20px 40px;
    box-shadow: 5px 5px 6px grey;

}
.border_img2{
    border: 5px double blue;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    filter:drop-shadow(7px 7px 8px darkgray);
    margin-left:20px;
}
.border_img3{
    border: 5px dotted blue;
    border-radius:50%;
     margin-left:20px;
    box-shadow: 5px 5px 6px grey;
}
  
.border_img4{
    border: 5px inset blue;
    margin-left:20px;
    border-color:blueviolet yellow green magenta;
}
.box_model1{
       border: 5px solid black;
       margin: 40px;
       padding:30px;
}
.box_model2{
      border:5px solid green;
      margin: 20px 40px 20px 40px;
      padding: 50px 30px 50px 30px;
}
.box_model3{
      border:5px solid grey;
      margin: 20px 40px 20px 40px;
      padding: 50px 30px 50px 30px;
      border-radius:10px;
      box-shadow: 5px 5px 6px grey;
}

.h1{
      margin: 50px 30px 50px 30px;
      padding: 20px 10px 20px 10px;
      filter: drop-shadow(5px 5px 6px grey);
}
.y21{
      margin: 50px;
      color:black;
      text-shadow: 5px 5px 6px grey;
      background-color: white;
      padding: 50px 30px 50px 30px;
}
.linear1{
          background: linear-gradient(red,green,blue);
          height:200px;
}
.linear12{
          background: linear-gradient(to right,red,green,blue);
          height:200px;
}
.linear123{
          background: linear-gradient(orange,white,green);
          height:200px;
}
.l21{
          padding-top: 70px;
          text-align:center;
          color:blue;
}
.l22{
          padding-top: 70px;
          text-align:center;
}
.radial{
    background:radial-gradient(circle,red,white,blue,black);
    height:400px;
    margin-top:50px;
    margin-bottom:40px;
}
.i21{
       height:200px;
       filter:drop-shadow(6px 6px 6px grey);
       margin-top:100px;
       margin-left:550px;
       border-radius: 50%;;
}
.conic{
        height: 600px;
        background:conic-gradient(from 90deg,blue,red,green,yellow) ;
}
.c1{
    background-image: url("/images/bali.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 450px;
}
.c2{
      text-align:center;
      font-size:50px;
      color:white;
      font-weight:bolder ;
      padding-top:160px;
}
.c4{
      text-align:center;
      font-size:50px;
      color:black;
      font-weight:bolder ;
      padding-top:160px;
}


.c3{
      background-image:url("/images/pixel.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      height:450px;
      width: 400px;
}

.flex-items{
    background-color: darkmagenta;
    width:200px;
    height:150px;
    color:white;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
    margin-top:20px;
}
.flex-item img{
    width:200px;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
    margin-top:20px;
}
.flex-container{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:center;   /*space-evenly,space-around,space-between*/   
      align-items:center;
      list-style:none;

}
.flex-containers{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:center;  /* horizontally center */
      align-items:center;      /*Vertically Center */
      list-style:none;
}
h1{
     color:blue;
}
h1:hover{
     color:red;
     font-size:40px;
     background-color:yellow;
}
.img1{
       border:2px solid red;
       height:200px;
       width:200px;
}
.img1:hover{
        
    border:2px solid blue;
    box-shadow: 5px 5px 6px red;
     background-image: url("/images/nature.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
input:focus{
     background-color:red;
     color:white;
}